@import "tailwindcss";

@layer components {
  .button-primary {
    @apply w-full rounded-full py-3 text-sm bg-black text-center text-white font-semibold transition-colors duration-200 hover:bg-gray-800;
  }

  .button-secondary {
    @apply w-full rounded-full py-2.5 text-sm text-black text-center bg-white border-1 border-black font-semibold transition-colors duration-200 hover:bg-gray-200;
  }

  .button-danger {
    @apply w-full rounded-full py-3 text-sm text-red-700 bg-red-100 font-semibold transition-colors duration-200 hover:bg-red-200;
  }

  .button-google {
    @apply w-full rounded-full py-3 text-sm bg-white text-black font-semibold flex items-center justify-center gap-2 transition-colors duration-200 hover:bg-gray-100 border-1 border-gray-300;
  }

  .text-link {
    @apply text-blue-800 hover:text-blue-600 transition-colors duration-200 font-medium;
  }

  .text-error {
    @apply text-red-600 text-sm;
  }

  .input-field {
    @apply w-full px-5 text-black py-2.5 text-sm rounded-full border border-gray-300 focus:outline-none focus:ring-1;
  }

  .container-navbar {
    @apply max-w-7xl 2xl:max-w-[1920px] mx-auto px-4 sm:px-6 lg:px-8 h-20 max-h-16;
  }

  .container-layout-home {
    @apply max-w-7xl 2xl:max-w-[1920px];
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.profile-menu {
  z-index: 9999 !important;
}